/* Default */

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--background-white);
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

/* Colors */

:root {
    --background-dark: #2E2F42;
    --background-light: #F4F4FD;
    --background-white: #FFFFFF;
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --title-color: #2E2F42;
    --title-color-background-dark: #FFFFFF;
    --description-color: #434455;
    --social-icon: #F4F4FD;
    --company-icon: #8e8f99;
    --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Top Line */

.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}

.logo-item-theme-light {
    color: #2E2F42;
}

.logo-item-theme-dark {
    color: #F4F4FD;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color var(--transition-duration-and-func);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--pressed-state);
}

.menu-link-active {
    position: relative;
    color: var(--pressed-state);
}

.menu-link-active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state);
    border-radius: 2px;
}

.contact {
    font-style: normal;
    margin-left: auto;
}

.contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color var(--transition-duration-and-func);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--pressed-state);
}

/* Hero */

.hero {
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--background-dark);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office-bg.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-descr {
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.modal-open-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    min-width: 169px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    transition: background-color var(--transition-duration-and-func);
}

.modal-open-btn:hover,
.modal-open-btn:focus {
    background-color: var(--pressed-state);
}

/* Principles of work */

.principle-container {
    display: flex;
    gap: 24px;
}

.principle-item {
    flex-basis: calc((100% - 72px) / 4);
}

.principle-icon-container {
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-light);
    border-radius: 4px;
    margin-bottom: 8px;
}

.principle-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.principle-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--description-color);
}

/* What are we doing */

.working-section {
    padding-bottom: 120px;
}

.working-img-list {
    display: flex;
    gap: 24px;
}

.working-img-title {
    text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

.working-img-item {
    flex-basis: calc((100% - 48px) / 3);
}

/* Our team */

.our-team-section {
    background-color: var(--background-light);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    flex-basis: calc((100% - 72px) / 4);
    background-color: var(--background-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

.team-member-container {
    padding: 32px 0;
}

.team-member {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.team-member-profession {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--description-color);
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand);
    transition: background-color var(--transition-duration-and-func);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--pressed-state);
}

.social-list-icon {
    fill: var(--social-icon);
}

/* Customers */

.customers-section {
    background-color: var(--background-white);
}

.companies-icon-title {
    text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

.company-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.company-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    color: var(--company-icon);
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: border-color var(--transition-duration-and-func), color var(--transition-duration-and-func);
}

.company-list-icon {
    fill: currentColor;
}

.company-list-link:hover,
.company-list-link:focus {
    color: var(--pressed-state);
    border: 1px solid var(--pressed-state);
}

/* Footer */

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--background-dark);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-container-list {
    display: flex;
}

.footer-main {
    margin-right: 120px;
}

.logo-footer {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 16px;
}

.footer-descr {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.footer-icon-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color-background-dark);
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand);
    transition: background-color var(--transition-duration-and-func);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: #31D0AA;
}

.footer-social-list-icon {
    fill: var(--social-icon);
}

/* PORTFOLIO */

.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}

.filter-btn {
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--primary-brand);
    background-color: var(--background-light);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    transition: color var(--transition-duration-and-func), background-color var(--transition-duration-and-func), border-color var(--transition-duration-and-func), box-shadow var(--transition-duration-and-func);
}

.filter-btn:hover,
.filter-btn:focus {
    color: #FFFFFF;
    background-color: var(--pressed-state);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-img-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-img-item {
    flex-basis: calc((100% - 48px) / 3);
}

.portfolio-img-link {
    display: block;
    transition: box-shadow var(--transition-duration-and-func);
}

.portfolio-img-link:hover,
.portfolio-img-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img-link:hover .overlay,
.portfolio-img-link:focus .overlay {
    transform: translateY(0);
}

.portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-img-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.portfolio-img-descr-container {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
    transition: border var(--transition-duration-and-func);
}

.portfolio-img-descr-container:hover,
.portfolio-img-descr-container:focus {
    border: 1px solid #F4F4FD;
    border-top: none;
}

.portfolio-img-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--description-color);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform var(--transition-duration-and-func);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: var(--primary-brand);
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-duration-and-func), visibility var(--transition-duration-and-func);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 576px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transition-duration-and-func);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #E7E9FC;
    transition: background-color var(--transition-duration-and-func), border var(--transition-duration-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--pressed-state);
    border: none;
}

.modal-close-icon {
    fill: #2E2F42;
    transition: fill var(--transition-duration-and-func);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #FFFFFF;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}